@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,300&family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Cormorant+Infant:ital,wght@1,300&family=EB+Garamond:ital@1&display=swap');

body {
	background: #1A5B35;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 72px;

	font-family: 'EB Garamond', serif;

	background: linear-gradient(180deg, #CEB076 0%, #D6BD84 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.text {
	display: flex;
	align-items: center;
	text-align: center;	

	font-size: 18px;
	line-height: 22px;
	font-family: 'Comfortaa', cursive;

	color: #FFFFFF;
}

b {
	margin-top: 20px;
}

.logo {
	margin-top: 120px;
}

.music-img {
	margin-top: 0px;
}